* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box,
.thank-you-box {
  background-color: hsl(216, 12%, 8%);
  width: 400px;
  height: 420px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}

@media screen and (max-width: 600px) {
  .box,
  .thank-you-box {
    width: 85vw;
    height: 400px;
  }
}

.thank-you-box {
  align-items: center;
  padding: 3rem 1.5rem;
}

.figure {
  background-color: hsl(213, 19%, 18%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.title,
button {
  color: #fff;
}

.item,
.text {
  color: hsl(217, 12%, 63%);
}

.title {
  margin-bottom: 1rem;
}

.text {
  text-align: justify;
  line-height: 1.5rem;
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 0.95rem;
  }
}

.rating {
  display: flex;
  justify-content: space-between;
}

.item {
  background-color: hsl(213, 19%, 18%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .item {
    width: 45px;
    height: 45px;
  }
}

.item:hover {
  cursor: pointer;
  background-color: hsl(216, 12%, 54%);
  color: white;
}

.item.active {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
}

.button {
  background-color: hsl(25, 97%, 53%);
  font-size: 15px;
  height: 3rem;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .button {
    font-size: 13px;
    height: 2.5rem;
  }
}

.button:hover {
  cursor: pointer;
  background-color: #fff;
  color: hsl(25, 97%, 53%);
}

.thank-you-box > .image {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.thank-you-box > .text_rating {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(213, 19%, 18%);
  width: 200px;
  height: 30px;
  border-radius: 30px;
  color: hsl(25, 97%, 53%);
}

.thank-you-box > .content_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thank-you-box > .content_text > h1 {
  margin-bottom: 10px;
  color: hsl(0, 0%, 100%);
  margin: 0.5rem;
}

.thank-you-box > .content_text > p {
  text-align: center;
  color: hsl(217, 12%, 63%);
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
  font-size: 0.85rem;
  margin: 0 0.15rem;
}

.hidden {
  display: none;
}
