* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
  }
  .container{
      width: 100vw;
      height: 100vh;
      background-color: #252525 ;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .box{
      background-color: hsl(216, 12%, 8%);
      width: 400px;
      height: 420px;
      border-radius: 30px;
      display:flex;
      flex-direction: column;
      align-items: center;

  }
  .image{
      display: flex;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 30px;
  }
  .text_rating{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: hsl(213, 19%, 18%);
      width: 200px;
      height: 30px;
      border-radius: 30px;
      color: hsl(25, 97%, 53%);
  }
  .content_text{
    display: flex;
   flex-direction: column;
   align-items: center;
  
  }
  .content_text>h1{
    margin-top: 35px;
    margin-bottom: 10px;
    color:hsl(0, 0%, 100%);
  }
  .content_text>p{
      text-align: center;
      margin-left: 25px;
      margin-right: 25px;
      color: hsl(217, 12%, 63%);
  }
 